.editor-container {
  background: linear-gradient(to bottom, #ffe6f0, #fff0f5);
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', cursive;
}

.botones {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.confirmar {
  font-size: 60pt;
  color: #333;
}

.cancelar {
  font-size: 60pt;
  color: #333;
}

.titulo {
  width: 90%;
  padding: 12px 15px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 15px;
  border: 2px solid #ff69b4;
  font-size: 50pt;
  font-weight: bold;
  background: #fff0f5;
  outline: none;
  box-shadow: 0 4px 10px rgba(255, 105, 180, 0.2);
  color: #ff1493;
}

.contenido {
  width: 90%;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #ff69b4;
  font-size: 35pt;
  background: #fff0f5;
  color: #333;
  font-family: 'Courier New', Courier, monospace;
  resize: vertical;
  height: 800px;
  box-shadow: 0 4px 10px rgba(255, 105, 180, 0.2);
  outline: none;
}

.container-btn-borrar {
  margin-top: 50px;
  width: 100%;
}

.btn-borrar {
  width: 90%;
  margin-top: 20px;
  padding: 12px 25px;
  border-radius: 30px;
  border: none;
  background: #ff69b4;
  color: white;
  font-size: 40pt;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(255, 105, 180, 0.3);
  transition: 0.2s;
}

.btn-borrar:hover {
  transform: scale(1.05);
  background: #ff85c1;
}
