.fondo-mensaje {
  position: relative;
  background: linear-gradient(135deg, #ffc0cb, #ffe4ec); /* rosa suave */
  border-radius: 20px;
  padding: 20px;
  color: white;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(255, 182, 193, 0.5);
}

img {
  width: 10%;
}

h3 {
  color: #fef5f7;
  background-color: #ffa4bf;
  border-radius: 11px;
}

.mensaje {
  width: 75%;
}
