/* You can add global styles to this file, and also import other style files */

@import url('../node_modules/bootstrap-icons/font/bootstrap-icons.css');

* {
  font-family: 'Segoe UI', cursive;
}

body {
  background-color: #fedfe3;
}

.text-pinky {
  color: #ee5789;
}

.text-violet {
  color: #761741;
}
